section.main
    .container.escape-header
        h2.serif Contact Me

        hr.divider-part

        .contact-form
            form(
                id="contact"
                action="http://formspree.io/andrew@andrewying.org"
                method="POST"
                class="form-group")
                
                .row.clearfix
                    .col.one-half.col-inline
                        input(
                            type="text"
                            name="name"
                            id="name"
                            class="input-text"
                            placeholder="Name*"
                            required)
                    .col.one-half.col-inline
                        input(
                            type="email"
                            name="_replyto"
                            class="input-text"
                            placeholder="Email*"
                            required)
                        input(
                            type="hidden"
                            name="_subject"
                            value="New contact submission")
                .row.clearfix
                    textarea(
                        rows="5"
                        name="message"
                        id="message"
                        class="input-textarea textarea-vertical"
                        placeholder="Message*"
                        required)
                    input(
                        type="text"
                        name="_gotcha"
                        id="gotcha")

                .row.clearfix
                    input(
                        type="submit"
                        name="submit"
                        value="Submit"
                        class="btn btn-primary input-submit")
                    p.submit-confirm Submitted. Thanks!
                    p.submit-error Please double-check to make sure all fields are completed and correct!
                    p.submit-process Submitting...

            iframe(
                src="#"
                id="no-target"
                name="no-target"
                style="display:none")